{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
</head>

{% block body-start %}
{% endblock %}
    <div class="gradient-bg"></div>
    <div class="grid-overlay"></div>

    <!-- Хедер -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">🏆 NextWin</div>
                <img src="{% static 'main/sponsors/sponsor3.png' %}">
                <img src="{% static 'main/sponsors/sponsor2.png' %}">
                <img src="{% static 'main/sponsors/sponsor1.png' %}">
                <!-- Убрали поисковую строку из хедера -->
            </div>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p class="footer-text">&copy; 2025 LottoNavigator Pro. Все права защищены.</p>
            </div>
        </div>
    </footer>

    {% block js %}
    {% endblock %}
</body>
</html>